version: 0.1.{build}-{branch}
clone_folder: C:\projects\pandora_toolbox
platform: x64
configuration: Release
environment:
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      APPVEYOR_JOB_NAME: windows-msvc2019
      BUILD_DIR: msvc19
      BUILD_TYPE: Release
      COMPILER: MSVC19
      PLATFORM: x64
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      APPVEYOR_JOB_NAME: windows-msvc2017
      BUILD_DIR: msvc17
      BUILD_TYPE: Debug
      COMPILER: MSVC17
      PLATFORM: x64
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      APPVEYOR_JOB_NAME: windows-mingw64
      BUILD_DIR: mingw64
      BUILD_TYPE: Debug
      COMPILER: MinGW-w64
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      APPVEYOR_JOB_NAME: windows-clangcl
      BUILD_DIR: clangcl
      BUILD_TYPE: Debug
      COMPILER: clang-cl
      CC: clang-cl
      CXX: clang-cl
      PLATFORM: x64

install:
  - call _scripts/ci/install_dependencies.bat
  - set "PATH=C:\\Python38-x64;C:\\Python38-x64\\Scripts;%PATH%"
  # if [%COMPILER%]==[MSVC19] call _scripts/ci/install_vulkan.bat
  # if [%COMPILER%]==[MinGW-w64] call _scripts/ci/install_vulkan.bat
  # MinGW
  - if [%COMPILER%]==[MinGW-w64] choco upgrade chocolatey
  - if [%COMPILER%]==[MinGW-w64] if not exist "C:\mingw.7z" appveyor-retry appveyor DownloadFile "http://downloads.sourceforge.net/mingw-w64/x86_64-8.1.0-release-posix-seh-rt_v6-rev0.7z" -FileName "C:\mingw.7z"
  - if [%COMPILER%]==[MinGW-w64] 7z x -y -oC:\ "C:\mingw.7z" > nul
  - if [%COMPILER%]==[MinGW-w64] set INCLUDE=C:\mingw64\x86_64-w64-mingw32\include;%INCLUDE%
  - if [%COMPILER%]==[MinGW-w64] set LIB=C:\mingw64\x86_64-w64-mingw32\lib;%LIB%
  - if [%COMPILER%]==[MinGW-w64] set "LIB=%LIB%;C:\Program Files (x86)\Windows Kits\10\Redist\ucrt\DLLs\architecture;C:\Program Files (x86)\Windows Kits\10\bin\architecture\ucrt;C:\Program Files (x86)\Windows Kits\10\Redist\ucrt\DLLs\x64"
  - if [%COMPILER%]==[MinGW-w64] set PATH=C:\mingw64\bin;C:\mingw64\x86_64-w64-mingw32\lib;C:\mingw64\x86_64-w64-mingw32\include;%APPVEYOR_BUILD_FOLDER%\deps\bin;%PATH:C:\Program Files\Git\usr\bin;=%
  - if [%COMPILER%]==[MinGW-w64] set "PATH=%PATH%;C:\Program Files (x86)\Windows Kits\10\Redist\ucrt\DLLs\architecture;C:\Program Files (x86)\Windows Kits\10\bin\architecture\ucrt;C:\Program Files (x86)\Windows Kits\10\Redist\ucrt\DLLs\x64;C:\Windows\System32"

build_script:
  - cd C:\projects\pandora_toolbox
  - call _scripts/update_version.bat
  - mkdir _build
  - cd _build
  - mkdir %BUILD_DIR%
  - cd ..
  # build project
  - if [%COMPILER%]==[MSVC19] cmake -G "Visual Studio 16 2019" -A %PLATFORM% -S . -B ./_build/%BUILD_DIR% -DCWORK_WINDOWS_VERSION="10"
  - if [%COMPILER%]==[MSVC17] cmake -G "Visual Studio 15 2017" -A %PLATFORM% -S . -B ./_build/%BUILD_DIR% -DCWORK_CPP_REVISION="14"
  - if [%COMPILER%]==[MinGW-w64] cmake -G "MinGW Makefiles" -S . -B ./_build/%BUILD_DIR% -DCMAKE_C_COMPILER=gcc.exe -DCMAKE_CXX_COMPILER=g++.exe -DCMAKE_MAKE_PROGRAM=mingw32-make.exe
  - if [%COMPILER%]==[clang-cl] cmake -G "Visual Studio 16 2019" -A %PLATFORM% -T ClangCL -S . -B ./_build/%BUILD_DIR% -DCMAKE_C_COMPILER=clang-cl -DCMAKE_CXX_COMPILER=clang-cl -DCMAKE_FLAGS="-m64"
  - if [%COMPILER%]==[LLVM/Clang] cmake -G "Ninja" -S . -B ./_build/%BUILD_DIR% -DCMAKE_C_COMPILER=clang.exe -DCMAKE_CXX_COMPILER=clang++.exe -DCMAKE_LINKER=lld-link.exe -DCMAKE_MAKE_PROGRAM=ninja.exe -DCMAKE_CXX_FLAGS="-target x86_64-w64-mingw32" -DCMAKE_C_FLAGS="-target x86_64-w64-mingw32"
  # compile
  - cmake --build ./_build/%BUILD_DIR% --config %BUILD_TYPE% --target install

test_script:
  - cd C:\projects\pandora_toolbox\_build\%BUILD_DIR%
  - ctest --output-on-failure
