# Temporary system files
[Tt]humbs.db
*.DS_Store
*.[Oo]bj
*.o
*.bak
*.[Cc]ache
*.log
*.lib
.svn/
~$*
*~

# Build directories
[Bb]in/
[Bb]uild/
_addons/
_bin
_build
CMakeLists/
_cmake/CMakeLists/
_coverage/
_examples/*/_libs
_libs/.cache/
_libs/*/.cache/
_libs/*/
obj/
tmp/
*/[Bb]in/
*/[Bb]uild/
*/_bin/
*/_build/
*/_docs/
*/_generated/
*/include/_embed/
*/obj/
*/tmp/
*/cmake/CMakeLists/
*/cmake/.*/
cmake-build-debug/
cmake-build-release/
*/cmake-build-debug/
*/cmake-build-release/
.idea/
*/.idea/
.vscode/
*/.vscode/
_ReSharper*/
*.resharper

#  Created by https://www.toptal.com/developers/gitignore/api/c,c++,cmake,gcov,node,eclipse,clion,visualstudio,visualstudiocode,codeblocks

### C / C++ ###

# Compiler / Linker / Precompiled Headers
*.d
*.o
*.ko
*.obj
*.elf
*.slo
*.ilk
*.exp
*.map
*.gch
*.pch

# Binaries
*.lib
*.lai
*.a
*.la
*.lo
# *.mod
*.smod
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64

# Kernel Module Compile Results
# *.mod*
# *.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Gcov
*.gcno
*.gcda
*.gcov

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*-prefix/

### IDEs ###

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Android Studio
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# CodeBlocks
*.layout
*.depend

# Eclipse
.settings/
.apt_generated/
.apt_generated_test/
.externalToolBuilders/
.recommenders/
.sts4-cache/
.autotools
.buildpath
.cproject
.factorypath
.metadata
.target
*.launch
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders
.cache-main
.scala_dependencies
.tern-project
.texlipse
.springBeans
.worksheet

# Jetbrains
.idea/
.idea_modules/
cmake-build-*/
out/
*.iml
*.ipr
*.iws
modules.xml

# VisualStudioCode
.vscode/
*.code-workspace
.history

# VisualStudio
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ebugPS/
[Rr]elease/
[Rr]eleases/
[Rr]eleasePS/
# x64/
# x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Tt]est[Rr]esult*/
artifacts/
BenchmarkDotNet.Artifacts/
ipch/
.vs/
$tf/
*.rsuser
*.suo
*.user
*.userosscache
*.userprefs
*.sln.docstates
project.lock.json
project.fragment.lock.json
[Bb]uild[Ll]og.*
*.[Cc]ache
*.VisualState.xml
StyleCopReport.xml
TestResult.xml
nunit-*.xml
*.aps
*.e2e
*.ncb
*.opendb
*.opensdf
*.psess
*.sap
*.sdf
*.cachefile
*.gpState
*.VC.db
*.VC.VC.opendb
*.vsp
*.vspx
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.dotCover
.axoCover/*
.sass-cache/
AutoTest.Net/
csx/
ecf/
rcf/
*.coverage
*.coveragexml
mono_crash.*
_Chutzpah*
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*
_TeamCity*
*.mm.*
*.build.csdef
AppPackages/
BundleArtifacts/
ClientBin/
FakesAssemblies/
Generated_Code/
Generated\ Files/
ServiceFabricBackup/
_UpgradeReport_Files/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload
*.rptproj.bak
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
.cr/personal
.fake/
.ionide/
.localhistory/
.mfractor/
.paket/
ASALocalRun/
healthchecksdb
MigrationBackup/
OpenCover/
paket-files/
_Pvt_Extensions
.ntvs_analysis.dat
*.binlog
*.GhostDoc.xml
*.jmconfig
*.nupkg
*.nvuser
*.nuget.props
*.nuget.targets
*.snupkg
*.pyc

# Files built by Visual Studio
# publish/
PublishScripts/
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj
dlldata.c
*_i.c
*_p.c
*_h.h
*.meta
*.iobj
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp_proj
*_wpftmp.csproj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
# *.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

### Node ###

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
node_modules/
jspm_packages/
typings/
.cache/
.dynamodb/
.fusebox/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.vuepress/dist
.cache
.env
.env.test
.eslintcache
.grunt
.lock-wscript
.next
.node_repl_history
.nuxt
.tern-port
.vscode-test
bower_components
dist
pids
.yarn-integrity
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
.npm
lib-cov
coverage
*.lcov
.nyc_output
